

 @import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:ital,wght@1,500&family=Work+Sans:wght@500&display=swap');

 body{
    font-family: 'Work Sans', sans-serif;

 }

/* Top er kaj */
.header{
    background-color: bisque;
}

nav{
    display: flex;
    justify-content: space-between;
    margin-left: 100px;
    
}
ul{
    list-style: none;
    display: flex;
    gap: 15px;
}
/* banner er kaj */
.banner-title{
    text-align: center;
}
.btn{
   margin-left: 10px;
   padding: 15px;
   background: #FF900E;
   border-style: none;
   border-radius: 3px;
}

.sobi{
   margin-left: 130px;
   margin-top: 20px;
  
  
}
/* team 4ta img */
.team{
    display: grid;
   grid-template-columns: repeat(2,1fr);
   width: 40%;
   margin-left: 130px;
   grid-row-gap: 20px;
   margin-top: 20px;
}  
.teams{
 display: flex;
}
.feature{
   width: 30%;
   margin-top: 100px;
}
.f-likha{
    color: #FF900E;

}
.q-likha{
    color: #727272;
}
/* 4rth part */
.love{
    display: flex;
    margin-top: 20px;
}
.enjoy{
    width: 50%;
    margin-top: 70px;
}
.border{
    border: 2px solid gray;
    border-style: none;
   
}
.borders{
  margin-left: 90px;
}
.head-l{
    margin-left: 10px;
}
#vertical{
    width: 4px;
    height: 80px;
    background-color: blue;
    margin-top: 20px;
    margin-left: 40px;
}
.line{
    display: flex;
}
.sec-btn{
    padding: 30px;
    background: #FF900E;
    position: absolute;
    margin-left: 50%;
    border-style: none;
    border-radius: 5px;
    top: 1850px;
    color: #FFFFFF;
}
/* some facts section */
.facts{
     margin-top: 100px;
   display: flex;
   margin-left: 200px;
   gap: 80px;
  
}
.fact{
    margin-top: 100px;
    margin-left: 100px;
    width: 30%;
    text-align: center;
}
.facts-one,.facts-two,.facts-three,.facts-four{
    border: 1px solid #FF900E;
    padding: 10px;
    border-radius: 4px;

}
.facts-one:hover,.facts-two:hover,.facts-three:hover,.facts-four:hover{
    transform:rotate(30deg)
    
}

/* sponcer section */
.our{
    margin-left: 300px;
   text-align: center;
    width: 50%;
    margin-top: 40px;
}
.sponcers{
    display: flex;
    margin-left: 120px;
    gap: 30px;
    
}
/* last */
.footer{
    text-align: center;
     margin-top: 100px;
}

 
/* mobile device responsive */
@media screen and (max-width:576px) {
    nav{
        
        justify-content:center;
        flex-direction: column;
        margin-left: 20px;
    }
    ul{
        list-style: none;
        flex-direction: column;
        gap: 15px;
    }
    
}
/* 2nd part */
@media screen and (max-width:576px) {
    .btn{
        margin-left:120px;
        text-align: center;
        
       
     }
    .brand img{
        margin-left: 30px;
        margin-top: 7px;
        width: 80vw;

    }
}
    
    
    

/* 3rd part */
@media screen and (max-width:576px) {
    .team{
        display: grid;
      grid-template-columns: repeat(1,1fr);
      width: 100%;
      margin-left:50px;    
    } 
    .teams{
       flex-direction: column;
       
       }   
       .feature{
        width: 50%;
       } 
}
/* 4rth part */

@media screen and (max-width:576px) 
{
    .love{
        flex-direction: column;
    }
    .love img{
        width: 90vw;
    }
    .borders{
        width: 100%;
    }
    .sec-btn{
        padding: 25px;
        background: #FF900E;
        position: absolute;
        margin-left: 30%;
        border-style: none;
        border-radius: 5px;
        top:3750px;
        color: #FFFFFF;
    }
    
}
/* 5th part */
@media screen and (max-width:576px) {
    .facts{
       flex-direction: column;
       margin-left: 20px;
       width: 50%;
    
}
.fact{
    text-align: center;
    margin-top: 150px;
    width: 50%;
    
}
}
/* 6th part */
@media screen and (max-width:576px) {
   .our{
          margin-left:15px;
          width: 50%;
   }
    .sponcers{
        flex-direction: column;
        margin-left:80px ;
    }
   
        
    }
    /* footer */
    .footer{
        width: 100%;
    }
   
    

   

    
